
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <!--.navbar-material .nav-wrapper .brand-logo img {-->
                    <div class="row">
                        <ul id="nav-mobile" class="valign-wrapper">
                        <li class="col m5 s5 center"><a href="#">Home </a></li>
                        <li class="col m2 s2 center"><img class="responsive-img valign-wrapper" src="~/images/owlogo.png"></li>
                        <!-- Add alert to button with id "Repo" -->
                        <li class="col m5 s5 center"><a href="https://github.com/JP-x/OverwatchHeroes">Repository </a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

            @RenderBody()
            <!--Import jQuery before materialize.js-->
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script type="text/javascript" src="js/materialize.js"></script>
            <script type="text/javascript" src="js/Init.js"></script>
</body>
  </html>
        
