<!-- Include Hero Collection-->
@model OverwatchHeroes.Models.Hero[]

@{
    ViewBag.Title = "Overwatch Heroes";
}
    <br />
    <div class="row">
        <a class="waves-effect waves-light btn-large col s12 m12">All</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/offense_icon.png">Attack</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/defense_icon.png">Defense</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/tank_icon.png">Tank</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/support_icon.png">Support</a>
    </div>
    
<div class="container">
    @{ var hero_counter = 0; var nth3rd = 2; var end = Model.Length-1;}
    @foreach (var hero in Model)
    {
        if (hero_counter % 3 == 0)
        {
            @:<div class="row center-align">
        }

        <div class="col s4 m4">
            <a href="@Url.Action("Details","Home", new { Name = hero.Name })">
                <div class="card valign-wrapper">
                
                    <img src="~/images/@hero.IconName" class="hero-image change-heroimg-on-small-only circle">
                    <img src="~/images/@hero.RoleName" class="role-img">
                    <br />
                    <div class="card-content">
                        <span class="OWtext hide-on-small-only change-text-on-med-only change-text-on-large-only">@hero.Name</span>
                    </div>
                </div>
            </a>
        </div>

        if (hero_counter == nth3rd || hero_counter >= end)
        {
            nth3rd = nth3rd + 3;
            @:</div>
        }

        hero_counter++;
    }

</div>