<!-- Include Hero Collection-->
@model OverwatchHeroes.Models.Hero[]

@{
    ViewBag.Title = "Overwatch Heroes";
}
    <br />
    <div class="row">
        <a class="waves-effect waves-light btn-large col s12 m12">All</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/offense_icon.png">Attack</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/defense_icon.png">Defense</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/tank_icon.png">Tank</a>
        <a class="waves-effect waves-light btn-large col s6 m3"><img src="~/images/roles/support_icon.png">Support</a>
    </div>

    @{ var hero_counter = 0; var nth3rd = 2;}
    @foreach (var hero in Model)
    {
        if (hero_counter % 3 == 0)
        {
            @:<div class="row center-align">
        }
        <div class="col s4 m4 l4 container">
            <img src="images/@hero.IconName" alt="@hero.Name" class="circle hero-image">
            <div class="hero-image-text OWtext_m center-align">@hero.Name</div>
        </div>
        if (hero_counter == nth3rd)
        {
            nth3rd = nth3rd + 3;
            @:</div>
        }

        hero_counter++;
    }

