
@{
    ViewBag.Title = "404 Error Page Not Found";
}


<div class="container center">
    <div class="row">
        <div class="col m12 s12">
            <img src="~/images/reaper_shrug.png" class="responsive-img"/>
        </div>
    </div>

    <br />
    <br />
    <div class="row center">
        <div class="col m12 s12 OWtext_l">
            404 Error: Page Not Found
        </div>
    </div>

</div>

